body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: relative;
}


.page_login {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
}

.logo_img, .input_name {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input_name {
    margin-bottom: 70px;

}

.enter_input {
    margin-top: 20px;
}

.page_login img {
    width: 130px;
}

input{
    width: 260px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    color: #AEAEAE;
    display: flex;
    text-align: center;
    font-size: 18px;
    outline: none;
}


.enter_input button {
    width: 110px;
    height: 45px;
    border-radius: 9px;
    background-color: #E7E7E7;
    color: #696969;
    text-align: center;
    font-size: 18px;
    border: none;

}

.contents_page {
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.loading {
    margin-bottom: 25px;

	-webkit-animation: rotate-center 2s linear infinite both;
	        animation: rotate-center 2s linear infinite both;
}

.slide-out-top {
	-webkit-animation: slide-out-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.load {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
}

.header {
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    z-index: 1;
}

.menu_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    align-items: center;
}

.logo_participants img{
    height: 30px;
}

.all_menssages {
    padding-top: 110px;
    margin-bottom: 90px;
    
}
.format_menssage {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.05);
    margin-bottom: 6px;

}

.menssage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 20px 15px 15px;
    
}
.time {
    color: #AAAAAA;
    margin-right: 7px;
}

.name {
    font-weight: 700;
    margin-right: 3px;
}

.para {
    margin-right: 3px;

}

.somebody_enter {
    background-color: #DCDCDC;
    ;
}

.reserve {
    background-color: #FFDEDE;
}

.send_menssage_menu_bottom {
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    box-shadow: 0px -4px 6px 2px rgba(0,0,0,0.1);
}

.elements_bottom_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px;
}
.elements_bottom_menu img {
    width: 26px;
}
.elements_bottom_menu textarea {
    outline: none;
    resize: none;
    border: none;
    width: 95%;
    height: 30px;
    font-size: 18px;
    box-sizing: border-box;
}
.elements_bottom_menu ::placeholder {
    color: black;
    font-style: italic;
    font-size: 18px;
}

.elements_bottom_menu textarea:hover {
    border-bottom: 1px solid black;
}

.textarea_and_phase{
    width: 100%;
    display: flex;
    flex-direction:column;
}

.menu_participants {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
    position: fixed;
    font-size: 16px;
    justify-content: space-between;
}

.appear_participants {
    background-color: #FFFFFF;
    width: 300px;
    height: 100%;
    display: flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.choose_title{
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    margin: 40px 47px;
}
.back {
    width: 100%;
    height: 100%;
}
.appear {
    display: flex;
}

.online_participants {
    margin-left: 20px;
    margin-right: 20px;

}

.participant_online {
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select {
    border: 0.5px solid #FFFFFF;
}
.select :hover {
    cursor: pointer;
    background-color: #D7D7D7;
    border-radius: 10px;
}

.menu_participants img {
    width: 25px;
    margin-right: 10px;
}

.who{
    height: 33px;
    margin-left: 10px;
}
.lock, .unlock {
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}
.all_menu{
    width: 100%;
    overflow-y: scroll;
}

.who {
    display: flex;
    align-items: center;
}

.check {
    display: none;
}
.appear_check {
    display: flex;
}
.phase {
    margin-top: 5px;
}

.interaction :hover{
    cursor: pointer;
}